@model IEnumerable<EnglishCenter.Models.KhoaHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Student.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_gv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaybatdau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayketthuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenkhoahoc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_gv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaybatdau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayketthuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenkhoahoc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
