<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/StyleSheet1.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/StyleSheet1.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light text-">
        <div class="container-fluid">
            <a href="@Url.Action("Index","Home")" style="font-family :VT323;color : rgb(246, 69, 69);font-size : 65px" >BTI<img src="~/Content/IMG/1.png" width="65" height="80" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index","Home")"style="color: #eb6864">
                            Trang chủ
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #eb6864">Khoá Học</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #eb6864">Khoá Học</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Tạo khoá học</a>
                            <a class="dropdown-item" href="@Url.Action("About","Home")">About</a>
                            <a class="dropdown-item" href="@Url.Action("IndexTeacher","Teacher")">TeacherLayout</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col"> <a href="@Url.Action("Index","Home")" style="font-family:VT323;font-size:25px;color : rgb(145, 254, 255)">&copy;Trung tâm ngoại ngữ BTI<img src="~/Content/IMG/1.png" width="35" height="45" />-2022</a></div>      
                    <div class="col col-lg-2">
                        <a href="https://www.paypal.com"><img width="50" src="~/Content/IMG/logo-paypal.png" /></a>
                        <a href="https://online.mbbank.com.vn/"><img width="50" src="~/Content/IMG/internetbanking-removebg-preview.png" /></a>
                        <a href="https://www.mastercard.com.vn"><img width="50" src="~/Content/IMG/mastercard-removebg-preview.png" /></a>
                        <img width="50" src="~/Content/IMG/tienmat-removebg-preview.png" />
                        <a href="https://www.visa.com.vn"> <img width="50" src="~/Content/IMG/visa-removebg-preview.png" /> </a>
                    </div>
                </div>
            </div>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
