@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName()</a>
                <div class="dropdown-menu" style="background-color:aqua; ">
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a>
                    <a class="dropdown-item" href="@Url.Action("ChangePassword","Manage")">Đổi Mật Khẩu</a>
                    <a class="dropdown-item" href="@Url.Action("AboutUser","Account")">Thông Tin</a>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li class="btn btn-primary btn-lg"> @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
