@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated == false)
{
    <nav class="navbar navbar-expand-lg navbar-light text-">
        <div class="container-fluid">
            <a href="@Url.Action("Index","Home")" style="font-family :VT323;color : rgb(246, 69, 69);font-size : 65px">BTI<img src="~/Content/IMG/1.png" width="65" height="80" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index","Home")" style="color: #eb6864">
                            Trang chủ
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About","Home")" style="color: #eb6864">Giới Thiệu</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #eb6864">Xem Thêm</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Course","Home")">Xem Các khoá học</a>
                            <a class="dropdown-item" href="@Url.Action("tuition","Home")">Xem Học Phí</a>
                            <a class="dropdown-item" href="@Url.Action("Route","Home")">Lộ Trình Học</a>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
}
@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
{
    <nav class="navbar navbar-expand-lg navbar-light text-">
        <div class="container-fluid">
            <a href="@Url.Action("Index","Admin")" style="font-family :VT323;color : rgb(246, 69, 69);font-size : 65px">BTI<img src="~/Content/IMG/1.png" width="65" height="80" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index","Admin")" style="color: #eb6864">
                            Trang chủ
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","KhoaHoc")" style="color: #eb6864">Quản lý khoá học</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #eb6864">Xem Thêm</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Course","Home")">Xem Các khoá học</a>
                            <a class="dropdown-item" href="@Url.Action("tuition","Home")">Xem Học Phí</a>
                            <a class="dropdown-item" href="@Url.Action("Route","Home")">Lộ Trình Học</a>
                            <a class="dropdown-item" href="@Url.Action("Register_Teacher","Account")">Đăng kí tài khoản giáo viên</a>

                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
}
@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Teacher"))
{
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="@Url.Action("Index","Home")" style="font-family :VT323;color : rgb(246, 69, 69);font-size : 65px">BTI<img src="~/Content/IMG/1.png" width="65" height="80" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("IndexTeacher" , "Teacher")" style="color :wheat">
                            Công Việc
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("GiaoAn","Teacher")" style="color :wheat">Giáo Án</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color :wheat">Khoá Học</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Quản Lý Lớp Học</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
}
@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Student"))
{

}