
@{
    ViewBag.Title = "Khóa Học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<did>
    <div style="margin:50px 10px 50px 10px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="background-color: white;margin : 10px 75px 10px 0px;">
                    <img style="width:70%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/english-communication.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH GIAO TIẾP</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Khi tham gia chương trình anh văn giao tiếp học viên sẽ được cung...
                    </h2>
                    <h1 class="btn btn-primary" href="@Url.Action("Course","Home")">Đăng Kí</h1>
                </div>

                <div class="col-lg-3" style="background-color: white; margin : 10px 75px 10px 75px;">
                    <img style="width:75%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/koliqicu.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH CHO TRẺ EM</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Hàng triệu trẻ em trên thế giới đã học nói tiếng Anh thông qua...
                    </h2>
                    <h1 class="btn btn-primary" href="@Url.Action("Course","Home")">Đăng Kí</h1>
                </div>
                <div class="col-lg-3" style="background-color: white; margin: 10px 0px 10px 75px;">
                    <img style="width:70%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/luyen-thi-ielts.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH LUYỆN THI IELTS</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        IELTS (International English Language Testing System) là chứng chỉ được...
                    </h2>
                    <h1 class="btn btn-primary" href="@Url.Action("Course","Home")">Đăng Kí</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="background-color: white;margin : 10px 75px 10px 0px;">
                    <img style="width:70%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/Training_2.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH THƯƠNG MẠI</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Khóa học tiếng Anh thương mại được thiết kế đặc biệt tập...
                    </h2>
                    <h1 class="btn btn-primary" href="@Url.Action("Course","Home")">Đăng Kí</h1>
                </div>

                <div class="col-lg-3" style="background-color: white; margin : 10px 75px 10px 75px;">
                    <img style="width:75%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/topic.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH CHO DOANH NGHIỆP</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Khóa học tiếng Anh cho doanh nghiệp thiết kế dựa trên các tình h...
                    </h2>
                    <h1 class="btn btn-primary" href="@Url.Action("Course","Home")">Đăng Kí</h1>
                </div>
                <div class="col-lg-3" style="background-color: white; margin: 10px 0px 10px 75px;">
                    <img style="width:70%; margin: 0px 20px 10px 60px;" src="~/Content/IMG/img home/tieng-anh-phong-van copy.jpg" />
                    <h1 style="text-align: center; font-size: 25px; color: black; font-family: Bradley Hand ITC ; ">TIẾNG ANH PHỎNG VẤN</h1>
                    <h2 style="font-size: 20px; text-align: center; color: black;">
                        Khóa học này được thiết kế dành riêng cho những ai muốn làm...
                    </h2>
                    <h1 class="btn btn-primary" href="@Url.Action("Course","Home")">Đăng Kí</h1>
                </div>
            </div>
        </div>
    </div>
</did>

